{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My profile
{% endblock %}

{% block styles %} 
{{super()}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Aclonica&family=Alegreya+Sans+SC&family=Kaushan+Script&family=Permanent+Marker&family=Potta+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand nav-bar-text" >My Profile</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="text-align: right;">
            <ul class="nav navbar-nav navbar-right nav-bar-text">
                <li ><a href="{{ url_for('student_dashboard') }}">Back to Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">
    <div class="card-A">
        <!-- <p>A</p> -->
    </div>
    <div class="center-block">
        <!-- <h1>Hello. This is your profile</h1> -->
        <!-- <p>C</p> -->
        <div>
            <label for="Name">Student name: </label>
            <p>{{ student.username }}</p><br>
            <label for="Email">Student email: </label>
            <p>{{ current_user.email }}</p><br>
            <label for="School">School name: </label>
            <p>{{ profile.school }}</p><br>
            <label for="Course">Course: </label>
            <p>{{ profile.course }}</p><br>
            <label for="Year of Study">Year of Study: </label>
            <p>{{ profile.year_of_study }}</p><br>
            <label for="Skills">Skills: </label>
            <p>{{ profile.skills }}</p><br>
        </div>
    </div>
    <div class="card-B">
        <!-- <p>B</p> -->
    </div>
</div>

<div class="footer">
    <p>Internhub<sup>&COPY;</sup> 2022</p>
    <p>All Rights Reserved</p>
</div>

{% endblock %}