body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #eee; */
  background-color: rgb(10, 10, 44);
  color: white;
}
.nav-bar-text{
  font-family: 'Potta One', cursive;
}

.form-signin .form-text{
  font-family: 'Aclonica', sans-serif;
}

.form-signin .form-other-text{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 20px;
}
.form-signin .link-text{
  color: aqua;
}
.form-signin .link-text:hover{
  color: pink;
  text-decoration: none;
}

.form-signin .form-button{
  background-color: grey;
  
}
.form-signin .form-button:hover{
  background-color: rgb(255, 162, 0);  
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text1{
  font-size: 20px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  margin: 0 30% 0 30%; 
  text-align: center;
}

.text2{
  font-size: 15px; 
  font-weight:bold;
   margin-top: 15%;
}

.footer{
    background-color: rgba(70, 77, 104, 0.644);
    color: white;
    font-family: 'Orbitron', sans-serif;
    width: 100vw;
    height: 10vh;
    position:fixed;
    bottom: 0%;
    text-align: center;    
}